<h1>About Me</h1>

<div class="container mt-5">
  <div class="row justify-content-between">

<div class="card" id="school-card" style="width: 18rem;">
  <img src="../images/georgian.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Georgian College</h5>
    <p class="card-text">Georgian College Barrie, On. Ive been a student here since May 2022 taking Computer Programming</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Full Stack Web development</li>
    <li class="list-group-item">HTML, CSS, JS, Python, C#, Java, SQL, C, C++, Swift</li>
    <li class="list-group-item">CRUD, RESTful Api, MERN, MEAN stack</li>
  </ul>
  <div class="card-body">
    <a href="https://www.georgiancollege.ca/" class="card-link">Georgian Link</a>
    <a href="https://cat.georgiancollege.ca/programs/cmpg/" class="card-link">Computer Programming Link</a>
  </div>
</div>

<div class="card" id="selftaught-card" style="width: 18rem;">
  <img src="../images/book2.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Self Study</h5>
    <p class="card-text">Outside of the 6 courses that Im taking at Georgian, I am also teaching myself Calculus, studying AI, and reading lots of books!</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Calculus and Vectors | Linear Algebra</li>
    <li class="list-group-item">Pytorch, Computer Vision using YOLO</li>
    <li class="list-group-item">Both non-fiction such as Quantum Supremacy to Fiction such as The Lord of the Rings!</li>
  </ul>
  <div class="card-body">
    
  </div>
</div>

<div class="card" id="legacy-card" style="width: 18rem;">
  <img src="../images/legacy.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Legacy Fight Club</h5>
    <p class="card-text">I train Brazilian Jiu-Jitsu at Legacy Fightclub in Barrie. I am very passionate about it and I love learning new moves and rolling!! </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">BJJ</li>
    <li class="list-group-item">Gi</li>
    <li class="list-group-item">No Gi</li>
  </ul>
  <div class="card-body">
    <a href="https://www.legacyfightclub.com/" class="card-link">Legacy Link</a>
    <a href="https://legacyfightgoods.com/" class="card-link">Fight Goods link</a>
  </div>
</div>

  </div>
</div>

